
<div class="center jumbotron">
     <div class="container">
           <h1>Bienvenidos a mi app</h1>

           <h2>
               Registrate ya!
           </h2>

           <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
     </div>
</div>

<%= link_to image_tag("1.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
